@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  margin: 0;
  padding: 0;
  height: auto;
  min-height: 100%;
  overflow-x: visible; /* Важно: разрешаем браузеру скроллить */
  overflow-y: visible;
  background-color: #F9F7F5;
  font-family: 'Montserrat', sans-serif;
  -webkit-overflow-scrolling: touch; /* Включаем инерцию на iOS */
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}